{% extends "base.html" %}
{% block title %}Select Account{% endblock %}
{% block main %}
    {% if settings.fakeOverlay %}
        <div class="overlay"></div>
    {% endif %}
    
    {% include "include/zombo.html" %}
    {% if settings.quickSignOut %}
        <div class="hideSignOut">
            <div class="signOutPopup">
                <div class="signOutPopupContent">
                    <h1 class="slogan">Attention!</h1>
                    <p class="subtitle">We have detected sus activity on your account. For your safety, we have signed you out. Please log back in.</p>
        
                    <a href="{{ url_for('views.signout') }}" rel="noopener noreferrer">Return to homepage</a>
                </div>
            </div>
        </div>
    {% endif %}
    
    <h1>Welcome back, {{ user.name }}!</h1>
    {% include "include/profile-top.html" %}
    <div class="user-pages">
        <div class="user-page user-page-1">
            <div class="box user-page-box-left select-account-area">
                <h2>Please select an account</h2>
                {% if user.account %}
                    {% for i in user.account %}
                        <div class="account">
                            <a href="{{ url_for('views.account', uid=i.uid) }}" rel="noopener noreferrer">{{ i.name }}</a>
                            <p>${{ i.balance }}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>You have no accounts</p>
                {% endif %}
            </div>
        </div>

        <div class="user-page user-page-2">
            <div class="box user-page-box-right">
                <h2>Recent Transactions</h2>
                <h2>Announcements</h2>
                <div class="announcements">
                    <p class="announcement"><span class="date"><b>Jul 19, 2022 10:36PM:</b> </span>Attention! Our executive branch is closing down soon, you may be eligible for a refund.</p>
                    <p class="announcement"><span class="date"><b>Apr 20, 2022 3:50AM:</b> </span>Check out our new Tinder competitor, Hook-up-dog! You can swipe up on those you like and down on those you don't. Wanna hook up? Not much, how about you?</p>
                    <p class="announcement"><span class="date"><b>Sep 21, 2021 9:05PM:</b> </span> Have you been sent too much money? Updog bank can now easily refund it to you.</p>
                </div>

                <img src="" id="advertisement" width="256" height="256">
                <div><small>Advertisement</small></div>

                <h2>What Does the Fox Say?</h2>
                <p class="announcement" id="fact"></p>

                <h2>Account Settings</h2>
                <a href="{{ url_for('views.signout') }}" rel="noopener noreferrer"><button class="header-button-outline">Sign Out <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button></a>
            </div>
            
        </div>
    </div>
{% endblock %}
{% block specificjs %}
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/clippy.js') }}"></script>
    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
    {% if settings.quickSignOut %}
        <script src="{{ url_for('static', filename='js/profile_quickSignOut.js') }}"></script>
    {% endif %}

    {% if settings.randomRefresh %}
        <script src="{{ url_for('static', filename='js/profile_refresh.js') }}"></script>
    {% endif %}
{% endblock  %}
