@use 'params';
@keyframes hoverUp {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-10%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@keyframes spin {
    0% {
        rotate: 0;
    }
    25% {
        rotate: 45;
    }
    50% {
        rotate: 90;
    }
    75% {
        rotate: 270;
    }
    100% {
        rotate: 360;
    }
}
  
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}