@use 'params';

.box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,50%);
	padding: 25px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.about-boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    align-items: center;
}

.about-img {
    margin-bottom: 20px;
}
