@use 'params';

%button {
    padding: 7px 15px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
    transition: 150ms ease-in-out;
}
.header-button {
    @extend %button;
    background-color: params.$primary;
    color: white;
    font-weight: bold;
    border: 0px;
}

.header-button-outline {
    @extend %button;
    border: 2px solid params.$primary;
    color: params.$primary;
    background: none;
    font-weight: bold;
}

.header-button:hover {
    animation: hoverUp 150ms forwards;
    background-color: params.$secondary;
}

.header-button-outline:hover {
    animation: hoverUp 150ms forwards;
    background-color: params.$primary;
    border: 2px solid params.$secondary;
    color: #fff;

}

.large-button {
    font-size: 32px;
}