@use 'params';

.captcha-area {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 75%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.captcha-box {
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 5vh;
    animation: fadeIn 500ms ease-in forwards;
}

.captcha-math {
    margin: 10px 0px 10px 0px;
    padding: 10px;
    background-color: #d0d0d0;
    font-weight: bold;
    border-radius: 7px;
}

.captcha-invalid {
    display: none;
}