@use 'params';

.header-logo {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 10px;
    font-size: 16px;
}

.overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0%);
    pointer-events: revert;
}

.popup {
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 1vh;
    margin-right: 1vw;
}

.logo-header-link {
    color: #000;
    text-decoration: none;
}

.section-1 {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.cards {
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: -100;
    margin-left: 60vw;
}

.balloon {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 3px;
    border: 1px solid gray;
    padding: 15px;
    z-index: 100;
}

.popup-text-area {
    resize: none;
    display: block;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 10px;
}

.pageLoad {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

.auth-text {
	padding-bottom: 10px;
}

.flex-area {
	display: flex;
	justify-content: space-between;
}

.flex-area-1 {
    margin-left: 25px;
}

.user-stat-item {
	font-weight: bold;
	font-size: 20px;
}

.profile-box {
    background-color: #fff;
    border-radius: 7px;
    padding: 7px 10px;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.announcement {
    padding: 10px;
    margin: 10px 0px;
    background-color: #bcff8b;
    color: #2b6600;
    border: 2px solid #2b6600;
    border-radius: 7px;
}

#advertisement {
    cursor: pointer;
    border: 2px solid params.$primary;
}

.badge {
    animation: hoverUp 2s forwards;
}

.login-right-text {
    max-width: 700px;
}

.footer-links {
    @extend %sideBySide;
}

.notice {
    max-width: 400px;
}

.signOutPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 70%);
    z-index: 100;
    color: params.$white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hideSignOut {
    display: none;
}

.swiper-button-next, .swiper-button-prev {
    color: params.$primary !important; 
}

.account {
    @extend %sideBySide;
    border: 2px solid params.$primary;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 7px;
}

.zombo-com-frame {
    display: none;

    .zombo-com {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 70%);
        text-align: center;
        @extend %center;
    
        .zombo-com-inner {
            .png-wheel-zombo {
                animation: rotate .5s infinite linear;
                margin-bottom: 25px;
            }
    
            .zombo-text {
                color: #fff;
                font-size: 32px;
                font-weight: bold;
                margin-bottom: 15px;
            }
        }
    }
}
