@use "params";

.cookie-popup-frame {
	display: none;
}

.cookie-popup {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100vw;
	background-color: params.$white;
	padding: 50px 15px;
	display: flex;
    justify-content: left;
    align-items: center;
}

.cookie-data-area {
    margin-left: 20px;
}

.cookies-1 {
    @extend %sideBySide;
}

.cookies-2, .cookies-3 {
    display: none;
}
