@use 'params';

.info-header {
    line-height: 3vh;
    padding-bottom: 10px;

    .slogan-subtitle {
        font-size: 24px;
    }
}

.info-box {
	background-color: params.$white;
    border-radius: 10px;
	padding: 15px;
    max-height: 70vh;
    overflow: hidden;
    overflow-y: scroll;

    h1, p {
        font-family: monospace;
    }

    p {
        font-size: 16px;
    }
}