@use 'params';
.splideBox {
    display: flex;
    min-height: 150px;
    max-height: auto;
    margin-top: 20px;
}

.splideBoxImage {
    border-radius: 7px;
    margin-right: 20px;
}

.splideBoxQuote {
    font-size: 24px;
    font-style: italic;
    text-align: center;
}

.swiper-pagination {
    color: params.$primary;
}