@use 'params';
.user-pages {
    display: flex;
    justify-content: space-evenly;
}

.user-page-box-left {
    min-width: 60vw;
}

.user-page-box-right {
    max-width: 40vw;
}

.user-stats {
    @extend %sideBySide;
    flex-wrap: wrap;
}