<div class="profile-top">
	<div class="box user-page-box">
		<h2>Summary</h2>

		<div class="user-stats">
			<span class="user-stat-item user-stats-balance">Total Balance: ${{ balance }}</span>

			<span class="user-stat-item user-stat-routing">Routing Number: {{ routing_number }}{{ routing_num_stars }}<a href="#" rel="noopener noreferrer" style="font-size: 12px" class="zombo-enter-button"> Show Number</a></span>

			<span class="user-stat-item user-stat-accountnumber">Account Number: {{ account_number }}{{ account_num_stars }}<a href="#" rel="noopener noreferrer" style="font-size: 12px" class="zombo-enter-button"> Show Number</a></span>
		</div>

	</div>
</div>
