<div class="zombo-com-frame">
    <div class="zombo-com">
        <div class="zombo-com-inner">
            <div class="zombo-box-content">
                <img class="png-wheel-zombo" src="{{ url_for('static', filename='img/pngwheel.png') }}" alt="loading">
                <p class="zombo-text">Loading...</p>
                <button class="header-button zombo-exit-button">Cancel</button>
            </div>
        </div>
    </div>
</div>