<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Updog Banking</title>

    <meta name="description" content="Banking made easy!" />
    <meta name="author" content="Nunya Co.Ltd" />
    <meta name="tags" content="bank, money, dog, updog" />

    <link rel="stylesheet" href="{{ url_for('static', filename='bundle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='clippy.css')}}">
    <link rel="stylesheet" type="text/css" href="https://gitcdn.xyz/repo/pi0/clippyjs/master/assets/clippy.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='fork-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='swiper-bundle.min.css')}}">
    
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/fav/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/fav/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/fav/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='img/fav/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='img/fav/safari-pinned-tab.svg') }}" color="#c55d28">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/fav/favicon.ico') }}">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="{{ url_for('static', filename='img/fav/browserconfig.xml') }}">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <div class="wrapper">
        <header>
            <a href="{{ url_for('views.index' ) }}" class="logo-header-link">
                <div class="logo">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" class="header-logo" alt="updog logo">
                    <p class="header-text">Updog Banking</p>
                </div>
            </a>

            <div class="links">
                <span class="header-text phone">+1 (420)-691-3370</span>
                {% if not user.is_authenticated %}
                    <a href="{{ url_for('views.login') }}"><button class="header-button">Sign in <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button></a><br />
                {% else %}
                    <div class="profile-box">
                        <p>Welcome, {{ user.name }}!</p>
                        <a href="{{ url_for('views.profile')  }}" rel="noopener noreferrer">View Profile</a>
                    </div>
                {% endif %}
            </div>
        </header>

        <main>
            <!-- Stop, you violated the law! Unauthorized manipulation of the HTML via Inspect Element (F12) is illegal via federal law. Doing so will be investigated by the FBI on legal behalf of Nunya Co.Ltd and can result in 5 years of federal prison, and a fine of 100-250k. -->

            {% if settings.fakeSlowPage %}
                <div class="pageLoad"></div>
            {% endif %}

            {% block main %}{% endblock %}
        </main>
    </div>

    <footer>
        <div class="footer-links">
            <div>
                <p>&copy The Nunya Business | 2022</p>
                <a href="{{ url_for('views.config') }}" rel="noopener noreferrer">What's Updog?</a> / 
                <a href="{{ url_for('views.tos') }}" rel="noopener noreferrer">Terms of Service</a> / 
                <a href="{{ url_for('views.privacy') }}" rel="noopener noreferrer">Privacy Policy</a>

                <div class="geo-badges">
                    <span class="geo-badge"><img src="{{ url_for('static', filename='img/geobadges/1.gif') }}" alt=""></span>
                    <span class="geo-badge"><img src="{{ url_for('static', filename='img/geobadges/2.gif') }}" alt=""></span>
                    <span class="geo-badge"><img src="{{ url_for('static', filename='img/geobadges/3.gif') }}" alt=""></span>
                </div>
            </div>

            <p class="notice">This is an online bank and is not allowed in any state starting with K, anyone who developed Windows 11, or anyone who puts pineapple on their pizza.</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/js.cookie.min.js') }}"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/global.js') }}"></script>
    {% block specificjs %}{% endblock %}
</body>
</html>
