{% extends "base.html" %}
{% block title %}Configuration Panel{% endblock %}
{% block main %}
    <h1>Configuration Panel</h1>
    <p>here, you can easily configure the bank to your liking :^)</p>

    <div class="config-pages">
        <div class="config-page box">
            <h2>Add a User</h2>
    
            <div class="messages">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for m in messages %}
                            <p class="message message-error">{{ m }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
    
            <form action="{{ url_for('views.config') }}" method="POST">
                <label for="username">Full Name: </label>
                <input type="text" name="name" id="name" placeholder="Full Name:" minlength="3" maxlength="100" required>
    
                <label for="email">Email: </label>
                <input type="text" name="email" id="email" placeholder="Email:" minlength="3" maxlength="256" required>
    
                <label for="password">Password: </label>
                <input type="password" name="password1" id="password1" placeholder="Password:" minlength="3" maxlength="512" required>
    
                <label for="password">Confirm Password: </label>
                <input type="password" name="password2" id="password2" placeholder="Confirm Password:" minlength="3" maxlength="512" required>
    
                <label for="account_number">Balance: </label>
                <input type="text" name="balance" id="balance" maxlength="{{ settings.maxNumLength }}" placeholder="Balance: " required>
    
                <label for="account_number">Account Number: </label>
                <small>Account Numbers must be 9-17 digits</small>
                <input type="number" name="account_number" id="account_number" min="100000000" max="99999999999999999" placeholder="Account Number: " required>
                
                <label for="routing_number">Routing Number: </label>
                <small>Routing numbers must be a 9-digit number from 100000000-999999999</small>
                <input type="number" name="routing_number" id="routing_number" min="100000000" max="999999999" placeholder="Routing Number: " required>
            
                <input type="submit" class="header-button" value="Create Account">
            </form>
        </div>

        {% if user.is_authenticated %}
        <div class="config-page box">                
            <h2>Add Account to User</h2>
            <form action="{{ url_for('views.config') }}" method="POST">

                <label for="account_name">Account Name: </label>
                <input type="text" name="account_name" id="account_name" placeholder="Account Name" required>

                <label for="account_balance">Account Balance: </label>
                <input type="text" name="account_balance" id="account_balance" maxlength="{{ settings.maxNumLength }}" placeholder="Account Balance" required>

                <label for="account_user_id">User Primary Key: </label>
                <input type="text" name="account_user_id" id="account_user_id" placeholder="User Primary Key" value="{{ user.id }}" required>

                <input type="submit" class="header-button" value="Submit">
            </form>

            <h2>Add Transaction to Account</h2>
            <form action="{{ url_for('views.config') }}" method="POST">

                <label for="transaction_name">Transaction Name: </label><br />
                <input type="text" name="transaction_name" id="transaction_name" placeholder="Transaction Name" required>

                <label for="transaction_amount">Transaction Amount: </label><br />
                <input type="text" name="transaction_amount" id="transaction_amount" maxlength="{{ settings.maxNumLength }}" placeholder="Transaction Amount" required>

                <label for="transaction_type">Transaction Type: </label><br />
                <input type="radio" name="transaction_type" id="transaction_type" value="deposit"><span> Deposit</span><br />
                <input type="radio" name="transaction_type" id="transaction_type" value="withdrawal"><span> Withdrawal</span><br />
                
                <label for="transaction_account_id">Account Primary Key: </label><br />
                <input type="text" name="transaction_account_id" id="transaction_account_id" placeholder="Account Primary Key" required>
                
                <input type="submit" class="header-button" value="Submit">
            </form>
        </div>

        <div class="config-page box">
            <div class="config-data">
                <h2>User Model</h2>
                <p><b>Name:</b> {{ user.name }}</p>
                <p><b>Primary Key</b> {{ user.id }}</p>
                <p><b>UID:</b> {{ user.uid }}</p>
                <p><b>created:</b> {{ user.created }}</p>
                <p><b>balance:</b> {{ user.balance }}</p>
                <p><b>account_number:</b> {{ user.account_number }}</p>
                <p><b>routing_number:</b> {{ user.routing_number }}</p>
            </div>

            <div class="config-data">
                <h2>Accounts</h2>
                {% if user.account %}
                    {% for i in user.account %}
                        <div class="account" style="display: block; line-height: 10px;">
                            <p><b>Name:</b> {{ i.name }}</p><br />
                            <p><b>Primary Key:</b> {{ i.id }}</p><br />
                            <p><b>UID:</b> {{ i.uid }}</p><br />
                            <p><b>Balance:</b> {{ i.balance }}</p><br />
                        </div>
                    {% endfor %}
                {% else %}
                    <p>This user has no accounts</p>
                {% endif %}
            </div>
        </div>
    {% endif %}
    </div>

    {% if users %}
    <div class="box user-config-box">
        <h1>Available Users</h1>
        <br />
        {% for i in users %}
            <span class="header-button-outline">{{ i.name }}</span>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
