{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block main %}
    <div class="messages">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for c, m in messages %}
                    {% if c == 'error' %}
                        <p class="message message-error">{{ m }}</p>
                    {% elif c == 'success' %}
                        <p class="message message-success">{{ m }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    
    {% if settings.showWelcome %}    
    <div id="welcomeArea">
        <div id="welcome">
            <div id="welcome-swiper" class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="box welcomeBox">
                            <img src="{{ url_for('static', filename='img/logo.png') }}" width="128" height="128" alt="">
                            <h1 class="welcome-title"><span class="welcome-title orange">Welcome!</span></h1>
                            <p class="welcome-content"><b>What is Updog? Glad you asked.</b> It's a fake bank to troll refund scammers. It is free, open source and licensed under the GPL. It is packed with features to annoy refund scammers and waste their time. A full list of features can be found in the readme.</p>
                        </div>
                    </div>
        
                    <div class="swiper-slide">
                        <div class="box welcomeBox">
                            <h1 class="welcome-title welcome-title-icon"><i class="fa fa-question" aria-hidden="true"></i></h1>
                            
                            <h1 class="welcome-title">What is a <a href="https://en.wikipedia.org/wiki/Overpayment_scam" rel="noopener noreferrer" target="_blank">refund scam</a>?</h1>
                            <p class="welcome-content">It's when someone calls you pretending to be from a company going out of business. They connect to your bank, edit the HTML of your web page to make it look like they sent you too much money. The victim "sends them back" all that money, even though they didn't recieve any to begin with. I created this fake bank so you don't have to use your real bank, and you can make their job as tedious and annoying as possible, complete with memes/references that the scammer likely won't understand.</p>
                        </div>
                    </div>
        
                    <div class="swiper-slide">
                        <div class="box welcomeBox">
                            <h1 class="welcome-title welcome-title-icon"><i class="fa fa-cog" aria-hidden="true"></i></h1>
                            <h1 class="welcome-title">How do I <span class="welcome-title orange">configure</span> this?</h1>
                            <p class="welcome-content">To configure the updog bank, simply edit the config variables in conf.py. There should be a simple explanation of everything there and what it does. To add users, accounts and transactions, there is a full GUI configuration panel built-in. Just click on the "What's updog?" thing in the footer to access it.</p>
                        </div>
                    </div>
        
                    <div class="swiper-slide">
                        <div class="box welcomeBox">
                            <h1 class="welcome-title welcome-title-icon"><i class="fa fa-microchip" aria-hidden="true"></i></h1>
                            <h1 class="welcome-title">What features does this <span class="welcome-title orange">not</span> have?</h1>
                            <p class="welcome-content">There are two major issues that I am still ironing out. For one, it is not responsive, meaning this won't show up correctly on a mobile device. Secondly, the <i class="fa fa-sass" aria-hidden="true"></i>ASS behind this is a disaster, which is also being cleaned up. Both of these issues will be fixed in due time. If you find any others, please report them and/or send a pull request.</p>
                        </div>
                    </div>
        
                    <div class="swiper-slide">
                        <div class="box welcomeBox">
                            <h1 class="welcome-title welcome-title-icon"><i class="fa fa-users" aria-hidden="true"></i></h1>
                            <h1 class="welcome-title">You're all <span class="welcome-title orange">set!</span></h1>
                            <p class="welcome-content">If you like this bank, please consider contributing to the GitLab repository. If you don't, consider submitting a pull request or reporting any issues you have with it. </p>
            
                            <button class="header-button-outline large-button" onclick="addWelcomeCookie()">Begin Scambaiting <i class="fa fa-hand-pointer-o" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
 
    {% endif %}
    <div class="section section-1">
        <div class="text">
            <p class="slogan">{{ slogan }}</p>
            <p class="subtitle"><a href="#discover" rel="noopener noreferrer">Discover</a> all the ways you can save time and money by switching to Updog.</p><br />

            <div class="badges">
                <img src="{{ url_for('static', filename='img/badges/apple.png') }}" class="badge" alt="apple badge" style="cursor: pointer">
                <img src="{{ url_for('static', filename='img/badges/play.png') }}" class="badge" alt="play badge" width="180" style="cursor: pointer">
            </div>
        </div>

        
        <img src="{{ url_for('static', filename='img/cards.svg') }}" alt="cards" class="cards">
    </div>

    <div class="section section-2">
	    <div class="flex-area">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/eV8qSDA85E0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

		<div class="flex-area-1">
			<p class="section-title"><i class="fa fa-money" aria-hidden="true"></i> If you haven't heard of us, <span class="orange">just ask!</span></p>

			<p class="section-subtitle">It started in 2016 on the african continent of Kenya. Our founder Bawn Seabody envisioned a fully-online bank with real-time fraud prevention and accessibility, that vision turned into a reality with Updog Bank. Picture this: You need to purchase a henway or a materlove. A voyage to the corner of the globe to visit typical banks can be a real trip, so you need a reliable online-only bank with more bite than bark. Updog is an online banking service that puts the "fun" in "funds". </p>
		</div>
	    </div>
    </div>

    <div class="section section-3">
	    <p class="section-title" id="discover"><i class="fa fa-question-circle" aria-hidden="true"></i> <span class="orange">WHY</span> Updog?</p>
        <p class="section-subtitle">Updog has been tried and tested by fortune 500, 600 and 700 companies.</p>

        <div class="about-boxes">
            <div class="box about-box">
		        <img src="{{ url_for('static', filename='img/about/reliable.png') }}" class="about-img" width="128" height="128" />
                
		        <h2 class="about-title" style="color: #f9c768">Reliable</h2>
                <p class="about-subtitle">Updog is never gonna give you up or let you down. We ensure 100% uptime of our secure servers and design our applications with maximum reliability.</p>
            </div>

            <div class="box about-box">
		        <img src="{{ url_for('static', filename='img/about/lightweight.png') }}" class="about-img" width="128" height="128" />

                <h2 class="about-title" style="color: #98c2ff">Lightweight</h2>
                <p class="about-subtitle">Updog is one of the fastest, lightest websites ever to exist, only being powered by React, Bootstrap, Angular, Wordpress, Vue, Svelte, and Tailwind.</p>
            </div>

            <div class="box about-box">
		        <img src="{{ url_for('static', filename='img/about/secure.png') }}" class="about-img" width="128" height="128" />

                <h2 class="about-title" style="color: #334973">Secure</h2>
                <p class="about-subtitle">Updog was designed to prevent frauds from happening. We use industry-standard tools like netstat and tree on our secure servers to ensure a scam-free banking experience.</p>
            </div>
        </div>
    </div>

    <div class="section section-3">
	    <p class="section-title" style="text-align: center"><i class="fa fa-users" aria-hidden="true"></i> Find out why people are <span class="orange">asking</span> about Updog:</p>
	
        <div id="testimonials" class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="box splideBox">
                        <img src="{{ url_for('static', filename='img/testimonials/0.jpg') }}" width="64" height="64" class="splideBoxImage" alt="proflile-image">
                        <div>
                            <h1>Robin Bhankes</h1>
                            <p class="splideBoxQuote"><i class="fa fa-quote-left" aria-hidden="true"></i> I have had nothing but good experiences with Updog. If you have a problem with something, you can just ask.<i class="fa fa-quote-right" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="box splideBox">
                        <img src="{{ url_for('static', filename='img/testimonials/1.jpg') }}" width="64" height="64" class="splideBoxImage" alt="proflile-image">
                        <div>
                            <h1>Michael Rosoft</h1>
                            <p class="splideBoxQuote"><i class="fa fa-quote-left" aria-hidden="true"></i> When someone sent me a lot of money, I thought I would have to send it back to them with Google Play gift cards. Thankfully, Updog refunded all the money in an easy and convenient manner. <i class="fa fa-quote-right" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="box splideBox">
                        <img src="{{ url_for('static', filename='img/testimonials/2.jpg') }}" width="64" height="64" class="splideBoxImage" alt="proflile-image">
                        <div>
                            <h1>LR. Jenkins</h1>
                            <p class="splideBoxQuote"><i class="fa fa-quote-left" aria-hidden="true"></i> This is the best bank available for messing with refund scammers. Just kidding, its codebase is spaghetti and the memes are not funny. <i class="fa fa-quote-right" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="swiper-button-next testimonial-swiper-button-next"></div>
            <div class="swiper-button-prev testimonial-swiper-button-prev"></div>
        </div>
    </div>

    <div class="balloon popup">
        <h2>Need assistance?</h2>
        <p>Talk to one of our online represenatives for help.</p>
        
        <div class="talk-box">
            <img class="talk-box-img" src="{{ url_for('static', filename='img/chad.jpg') }}" width="72" height="72">
            
            <div class="talk-text">
                <p class="talk-text-area"><b>Taxi Vasion</b></p>
                <p class="talk-text-area">Updog assistant represenative of financial affairs and marketing.</p>
            </div>
        </div>

        <textarea class="popup-text-area" name="popup-text" id="popup-text" cols="40" rows="5" maxlength="4096" placeholder="Need help? Just ask!"></textarea>

        <button class="header-button">Send</button>
        <button class="header-button popup-close-button">Close</button>
    </div>
{% endblock %}
{% block specificjs %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
