{% extends "base.html" %}
{% block title %}Terms of Service{% endblock %}
{% block main %}

<div class="info-header">
    <h1 class="slogan"><i class="fa fa-file-text" aria-hidden="true"></i> Terms of Service</h1>
    <p class="slogan-subtitle">Be sure to follow the rules, okay dog?</p>
</div>

<div class="info-box">
    {% autoescape off %}
        {{ md }}
    {% endautoescape %}
</div>
{% endblock %}